<Defs><List>
	<!--单属性-->
	<Def Name="single_jin">
		<Display>金盈</Display>
		<Desc>提高环境中的金属性，并增加金属性功法突破几率</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.6</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_Jin</Weather><!--天气效果-->
	</Def>
	<Def Name="single_mu">
		<Display>木盈</Display>
		<Desc>提高环境中的木属性，并增加木属性功法突破几率</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Mu</Element>
				<Threshold>0.6</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_Mu</Weather><!--天气效果-->
	</Def>
	<Def Name="single_shui">
		<Display>水盈</Display>
		<Desc>提高环境中的水属性，并增加水属性功法突破几率</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Shui</Element>
				<Threshold>0.6</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_Shui</Weather><!--天气效果-->
	</Def>
	<Def Name="single_huo">
		<Display>火盈</Display>
		<Desc>提高环境中的火属性，并增加火属性功法突破几率</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Huo</Element>
				<Threshold>0.6</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_Huo</Weather><!--天气效果-->
	</Def>
	<Def Name="single_tu">
		<Display>土盈</Display>
		<Desc>提高环境中的土属性，并增加土属性功法突破几率</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Tu</Element>
				<Threshold>0.6</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_Tu</Weather><!--天气效果-->
	</Def>
	<!--组合属性-->
	<Def Name="jin_mu">
		<Display>竭伐</Display>
		<Desc>大幅提高门派弟子的伐木速度、收获速度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Mu</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_JinMu</Weather><!--天气效果-->
	</Def>
	<Def Name="jin_shui">
		<Display>腾涌</Display>
		<Desc>大幅提高门派弟子的手工速度、缝纫速度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_JinShui</Weather><!--天气效果-->
	</Def>
	<Def Name="jin_huo">
		<Display>融销</Display>
		<Desc>大幅提高门派弟子的采掘速度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_JinHuo</Weather><!--天气效果-->
	</Def>
	<Def Name="jin_tu">
		<Display>蕴结</Display>
		<Desc>大幅提高门派弟子的采掘产量</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_JinTu</Weather><!--天气效果-->
	</Def>
	<Def Name="mu_shui">
		<Display>繁育</Display>
		<Desc>大幅提高门派弟子的收获产量和门派地图肥力</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Mu</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_MuShui</Weather><!--天气效果-->
	</Def>
	<Def Name="mu_huo">
		<Display>尽灼</Display>
		<Desc>大幅提高门派弟子的锻造速度、烹饪速度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Mu</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_MuHuo</Weather><!--天气效果-->
	</Def>
	<Def Name="mu_tu">
		<Display>固缚</Display>
		<Desc>大幅提高门派弟子的建筑速度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Mu</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_MuTu</Weather><!--天气效果-->
	</Def>
	<Def Name="shui_huo">
		<Display>渐熄</Display>
		<Desc>大幅提高门派弟子的救灾速度、救灾成功率</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Shui</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_ShuiHuo</Weather><!--天气效果-->
	</Def>
	<Def Name="shui_tu">
		<Display>盈蓄</Display>
		<Desc>大幅提高门派弟子的治疗预期效果、自然恢复力</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Shui</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_ShuiTu</Weather><!--天气效果-->
	</Def>
	<Def Name="huo_tu">
		<Display>尘烬</Display>
		<Desc>大幅提高门派弟子的拆除速度、石料加工速度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Huo</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.4</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_HuoTu</Weather><!--天气效果-->
	</Def>
	<Def Name="jin_mu_shui">
		<Display>甲木</Display>
		<Desc>大幅提高门派弟子的木属性功法适配度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Mu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_JinMuShui</Weather><!--天气效果-->
	</Def>
	<Def Name="jin_mu_huo">
		<Display>乙木</Display>
		<Desc>大幅提高门派弟子的炼丹产量</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Mu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_JinMuHuo</Weather><!--天气效果-->
	</Def>
	<Def Name="jin_mu_tu">
		<Display>己土</Display>
		<Desc>大幅提高门派弟子的修炼速度、筑基速度、心境值</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Mu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_JinMuTu</Weather><!--天气效果-->
	</Def>
	<Def Name="jin_shui_huo">
		<Display>辛金</Display>
		<Desc>大幅提高门派弟子的神器炼成几率</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_JinShuiHuo</Weather><!--天气效果-->
	</Def>
	<Def Name="jin_shui_tu">
		<Display>壬水</Display>
		<Desc>大幅提高门派弟子的水属性功法适配度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_JinShuiTu</Weather><!--天气效果-->	
	</Def>
	<Def Name="jin_huo_tu">
		<Display>庚金</Display>
		<Desc>大幅提高门派弟子的金属性功法适配度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_JinHuoTu</Weather><!--天气效果-->
	</Def>
	<Def Name="mu_shui_huo">
		<Display>丙火</Display>
		<Desc>大幅提高门派弟子的火属性功法适配度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Mu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_MuShuiHuo</Weather><!--天气效果-->
	</Def>
	<Def Name="mu_shui_tu">
		<Display>癸水</Display>
		<Desc>大幅提高门派弟子的丹药炼制速度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Mu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_MuShuiTu</Weather><!--天气效果-->
	</Def>
	<Def Name="mu_huo_tu">
		<Display>戊土</Display>
		<Desc>大幅提高门派弟子的土属性功法适配度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Mu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_MuHuoTu</Weather><!--天气效果-->
	</Def>
	<Def Name="shui_huo_tu">
		<Display>丁火</Display>
		<Desc>大幅提高门派弟子的法宝炼制速度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Shui</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.3</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_ShuiHuoTu</Weather><!--天气效果-->
	</Def>
	<!--全局属性-->
	<Def Name="no_jin">
		<Display>金绝</Display>
		<Desc>金属性伤害减免降低（全局）</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Tu</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Mu</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>									
		</Conditions>
		<Weather>Elixir_NoJin</Weather><!--天气效果-->
	</Def>
	<Def Name="no_mu">
		<Display>木绝</Display>
		<Desc>木属性伤害减免降低（全局）</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Tu</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Jin</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>	
		</Conditions>
		<Weather>Elixir_NoMu</Weather><!--天气效果-->
	</Def>
	<Def Name="no_shui">
		<Display>水绝</Display>
		<Desc>水属性伤害减免降低（全局）</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Tu</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Mu</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Jin</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>	
		</Conditions>
		<Weather>Elixir_NoShui</Weather><!--天气效果-->
	</Def>
	<Def Name="no_huo">
		<Display>火绝</Display>
		<Desc>火属性伤害减免降低（全局）</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Tu</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Jin</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Mu</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>	
		</Conditions>
		<Weather>Elixir_NoHuo</Weather><!--天气效果-->
	</Def>
	<Def Name="no_tu">
		<Display>土绝</Display>
		<Desc>土属性伤害减免降低（全局）</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Mu</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Jin</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.2</Threshold><!--百分比阈值-->
			</li>	
		</Conditions>
		<Weather>Elixir_NoTu</Weather><!--天气效果-->
	</Def>
	<!--混元属性-->
	<Def Name="hunyuan">
		<Display>混元</Display>
		<Desc>道行降低，提高学习速度</Desc>
		<Conditions><!--条件，必须全部满足才可以-->
			<li>
				<Element>Jin</Element>
				<Threshold>0.15</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Mu</Element>
				<Threshold>0.15</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Shui</Element>
				<Threshold>0.15</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Huo</Element>
				<Threshold>0.15</Threshold><!--百分比阈值-->
			</li>
			<li>
				<Element>Tu</Element>
				<Threshold>0.15</Threshold><!--百分比阈值-->
			</li>
		</Conditions>
		<Weather>Elixir_Wu</Weather><!--天气效果-->
	</Def>
</List></Defs>